<ui-view>

    <ion-content>

        <div class="card" ng-cloak="true">
            <div class="item item-divider">
                <i class="icon ion-person"></i>
                Player
            </div>
            <div class="item item-text-wrap">
               Cards in hand:
                <div ng-repeat="(key, value) in playerHandArray track by $index">
                    {{value}}
                </div>
            </div>
            <div class="item item-divider">
                Your Hand Total:
                <p ng-bind="playerHandTotal"></p>
            </div>
        </div>

        <div class="card" ng-cloak="true">
            <div class="item item-divider">
                <i class="icon ion-laptop"></i>
                Dealer
            </div>
            <div class="item item-text-wrap">
                Cards in hand:
                <div ng-repeat="(key, value) in computerDealerHandArray track by $index">
                    {{value}}
                </div>
            </div>
            <div class="item item-divider">
                Dealer's Hand Total:
                {{computerDealerHandTotal}}
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable" style="padding-top:1.7em; margin-bottom: 1.3em;">
        <div class="row row-center">
            <div class="col fake-tab" ng-click="deal()">
                <i class="ion-ios-game-controller-b x-large"></i> <br />
                <p>Deal</p>
            </div>
            <div class="col  fake-tab" ng-click="hit()">
                <i class="ion-skip-forward x-large"></i>
                <p>Hit</p>
            </div>
            <div class="col fake-tab" ng-click="stand()">
                <i class="ion-ios-body x-large"></i>
                <p>Stand</p>
            </div>
        </div>
        <!--<div class="buttons">-->
            <!--<button class="button">Left Button</button>-->
        <!--</div>-->
        <!--<h1 class="title">Title!</h1>-->
        <!--<div class="buttons" ng-click="doSomething()">-->
            <!--<button class="button">Right Button</button>-->
        <!--</div>-->
    </ion-footer-bar>


    <!--<ion-tabs class="tabs-icon-top ">-->

        <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
        <!--<ion-tab title="Deal" icon-off="ion-ios-game-controller-b" icon-on="ion-ios-game-controller-b" href="#" ng-click="deal()">-->
            <!--&lt;!&ndash;<ion-nav-view name="tab-dash"></ion-nav-view>&ndash;&gt;-->
        <!--</ion-tab>-->

        <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
        <!--<ion-tab title="Hit" icon-off="ion-skip-forward" icon-on="ion-skip-forward" href="#" ng-click="hit()">-->
            <!--&lt;!&ndash;<ion-nav-view name="tab-chats"></ion-nav-view>&ndash;&gt;-->
        <!--</ion-tab>-->

        <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
        <!--<ion-tab title="Stand" icon-off="ion-ios-body" icon-on="ion-ios-body" class="custom-tab-item-active" href="#" ng-click="stand()">-->
            <!--&lt;!&ndash;<ion-nav-view name="tab-account"></ion-nav-view>&ndash;&gt;-->
        <!--</ion-tab>-->
    <!--</ion-tabs>-->
</ui-view>