/* Empty. Add your own CSS if you like */

.company-title
{
    color: #FFC42E;
}
.custom-tab-item-active{
    color: #7A7A7A !important;
}

.fake-tab {
    text-align: center;
}

.larger {
    font-size: larger;
}

.x-large
{
    font-size: x-large ;
}
